* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}

.contenedorMenu {
    display: flex;
    justify-content: space-evenly;
    background: #4472d4;
    position: relative;
}

.menu {
    text-decoration: none;
    background: #4472d4;
    color: #fff;
    padding: 15px;
    transition: 0.3s;
}

.menu:hover {
    background: #f2f2f2;
    color: #4472d4;
    transition: 0.3s;
    font-weight: bold;
}

.container__section {
    display: flex;
    justify-content: space-evenly;

}

.contenedor {
    width: 300px;
    margin: 30px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0px 40px 20px hsla(221, 63%, 55%, 0.555);
    position: relative;
}

.imagenSpiderman {
    width: 100%;
    object-fit: cover;
}

.imagenSpiderman:hover, .ingresar:hover{
    opacity: 0.9;
}

h2.texto {
    color: #C60203;
}

.texto {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.ingresar {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #C60203;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.goku {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 30px auto;
    filter: drop-shadow(0px 0px 20px rgb(228, 216, 58));
}